@model IEnumerable<ProjektAplikacjeInternetowe.Models.Cart>

@{
    ViewData["Title"] = "Confirm the purchase";
}

    <h1>Confirm the purchase</h1>
<form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Seat number
                </th>
                <th>
                    Date of the Movie
                </th>
                <th>
                    Cost in PLN
                </th>
                <th>
                    Name of the Movie
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.seatNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.movieName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        Total = @Model.Sum(i => i.Amount)
    </div>
    <input type="submit" value="Book Ticket" asp-controller="Cart" asp-action="BookTicket" formmethod="post" />
</form>